body {
	background: #317070;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1;
	margin : 0;
	padding: 0;
}
#header {
	margin: 0 auto;
	padding: 0;
	width: 960px;
}
#header div {
	margin: 0;
	overflow: hidden;
	padding: 59px 0 57px;
}
#header div .logo {
	color: #fff;
	display: block;
	float: left;
	margin: 0;
	padding: 0 0 0 13px;
	text-decoration: none;
}
#header div .logo h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 60px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: capitalize;
}
#header div span {
	color: #fff;
	display: block;
	font-size: 16px;
	float: right;
	letter-spacing: 1px;
	margin: 0;
	padding: 0 30px 0 0;
	text-transform: uppercase;
}
#body {
	background: #e4e4e4;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 960px;
}
#body h1, #body h2, #body h3 {
	margin: 0;
	padding: 0;
}
#body p {
	line-height: 30px;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
	text-align: justify;
}
#body a:visited{
	color: #0000ff;
}
#body .header {
	background: #fff;
	margin: 0;
	padding: 40px;
}
#body .header h1 {
	color: #0f7c7c;
	font-family: Georgia, serif;
	font-size: 38px;
	font-weight: normal;
	letter-spacing: 2px;
	margin: 0;
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
}
#body .body {
	background: #000;
	margin: 0;
	padding: 45px 40px;
	text-align: center;
}
#body .body h1 {
	color: #ffaf04;
	font-family: Georgia, serif;
	font-size: 48px;
	font-weight: normal;
	letter-spacing: 2px;
	margin: 0;
	padding: 0 0 25px;
	text-transform: uppercase;
}
#body .body small {
	color: #fff;
	display: block;
	font-size: 24px;
	height: 30px;
	letter-spacing: 1px;
	line-height: 30px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	text-align: left;
	text-transform: uppercase;
	width: 738px;
}
#body .body small span {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}
#body .footer .article {
	background: none;
	border-left: 1px solid #afafaf;
	float: left;
	margin: 0;
	min-height: 590px;
	overflow: auto;
	padding: 0;
	width: 600px;
}
#body .footer .article div {
	float: none;
	margin: 0;
	overflow: hidden;
	padding: 0 0 25px 40px;
	width: auto;
}
#body .footer .article span {
	color: #000;
	display: block;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 1px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	text-align: justify;
}
#body .footer .article b a:hover {
	color: #464646;
}
#body .footer .article p {
	color: #464646;
}
#body .footer .article p a {
	text-decoration: underline;
}
#body .footer .article p a:hover {
	color: #115858;
}
#body .footer .aside {
	float: left;
	margin: 0;
	padding: 0px 20px 0px 0px;
	width: 320px;
}
#body .footer .aside div {
	margin: 0;
	padding: 0 0 20px;
}
#body .footer .aside div p {
	padding-left: 40px;
}
#body .article, #body .section {
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#body .article {
	background: #212121;
	padding: 30px 0 30px 40px;
}
#body .article h2 {
	color: #ffaf04;
	font-family: Georgia, serif;
	font-size: 36px;
	font-weight: normal;
	letter-spacing: 2px;
	line-height: 48px;
	margin: 0;
	padding: 0 48px;
	text-align: center;
}
#body .article h2 a {
	text-decoration: none;
}
#body .article h2 a:hover {
	color: #c19027;
}
#body .article div {
	float: left;
	margin: 0 40px 0 0;
	padding: 0;
	width: 420px;
}
#body .article div span {
	color: #fff;
	display: block;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 1px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	text-align: justify;
}
#body .article div b a:hover {
	color: #c7c7c7;
}
#body .article div p a:hover {
	color: #fff;
}
#body .footer {
	margin: 0;
	overflow: hidden;
	padding: 30px 0 20px;
}
#body .footer h3 {
	color: #0e5a5a;
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	font-weight: normal;
	margin: 0;
	padding: 17px 0 15px 40px;
	text-transform: uppercase;
}
#footer {
	border-top: 3px solid #0eacae;
	margin: 0 auto;
	overflow: hidden;
	padding: 30px 0;
	width: 960px;
}
#footer ul {
	float: left;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#footer ul li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
#footer p {
	color: #0b4545;
	float: right;
	font-size: 12px;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
}
